GreenWeb/*

!GreenWeb/client/

GreenWeb/client/bower_components/*

GreenWeb/client/components/modal/*
GreenWeb/client/components/mongoose-error/*

GreenWeb/client/index.html

!GreenWeb/server/api/product/*
!GreenWeb/server/api/product/

!GreenWeb/server/api/*

!GreenWeb/server/api/
