.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
    background-color: #F5F6EA;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;

}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #5AAC56;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #F5F6EA;
     background-color: ;
}


.navbar-default {
  background-color: #5AAC56;
  border-color: #e7e7e7;
  margin: 10px; 
  font-size: 14px;

}

.navbar-default .navbar-nav > li > a {
color: #FFFFFF;
}

.footer {

    width: 50%;
    margin: 0 auto;
}

h3 {


    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    font-family: 'Roboto', serif;
}











